<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1><span><a href="{% url 'employer:update_employer_profile' %}">profile</a></span>
    </header>
<a href="{% url 'employer:create_job_listing' %}">add jobs</a>
{% for jobs in jobs %}
<tr>
            <th>{{jobs.user.created_by}}</th>
            <th>{{jobs.category}}</th>
            <th>{{jobs.title}}</th>
     <th><a href="{% url 'employer:edit' jobs.id %}">edit</a></th>
         <th><a href="{% url 'employer:delete' jobs.id %}">delete</a></th>


        </tr>
{% endfor %}

</body>
</html>
