{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="text-center " >

    <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="w-24 h-24 rounded-full mx-auto mb-4 border-4 border-white shadow-md">
    <h1 class="text-2xl font-semibold text-gray-800">{{ user.full_name }}</h1>
    <p class="text-gray-600">{{ user.job_title }}</p>
</div>

<div class="mt-8">
    <h2 class="text-xl font-semibold text-gray-800">Contact Information</h2>
    <ul class="list-disc list-inside mt-2">
        <li>{{ user.contact_email }}</li>
        <li><a href="{{ user.resume.url }}" class="text-blue-500 hover:underline">Resume</a></li>
        <li>{{ user.address }}</li>
    </ul>
</div>

<div class="mt-8">
    <p class="text-gray-600">{{ user.about }}</p>
</div>

<div class="mt-8">
    <div class="p-4 bg-white rounded-lg shadow-md mt-4 hover:shadow-lg transition duration-300">
        <p class="text-gray-600">To update your profile, click the button below:</p>
        <div class="mt-4 flex justify-center">
            <a href="{% url 'update_profile' %}">
                <button class="bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-600 transition duration-300">Update Profile</button>
            </a>
        </div>
    </div>
</div>

<div class="mt-8">
    <h2 class="text-xl font-semibold text-gray-800">Applied Jobs</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
        {% for application in applications %}
        <!-- Applied Job -->
        <div class="bg-white rounded-lg shadow-lg p-9 hover:shadow-xl transition duration-300">
            <div class="text-center"> <!-- Center align text -->
                <h3 class="text-lg font-semibold text-gray-800">{{ application.job.title }}</h3>
                <p class="text-gray-600">Company: {{ application.job.created_by }}</p>
                <p class="text-gray-600">Location: {{ application.job.location }}</p>
                <p class="text-gray-600">Applied on: {{ application.apply_at }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
