 {% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-md">
      <h2 class="text-2xl font-semibold text-gray-800 text-center">User Profile</h2>
      <!-- Profile Picture -->
            {% if user %}
      <div class="mb-4 flex justify-center">
        <img src="{{user.profile_picture.url}}" alt="Profile Picture" class="w-32 h-32 rounded-full">
      </div>
      <!-- Profile Details -->
      <div class="mb-4 text-center">
        <p class="text-gray-600">Full Name: {{user.full_name}}</p>
        <p class="text-gray-600">Email: {{user.contact_email}}</p>
          <p class="text-gray-600">Address:{{ user.contact_number}}</p>

        <p class="text-gray-600">Address:{{ user.address}}</p>
      </div>
      <!-- Update Profile Button -->
      <div class="flex justify-center">
        <a href="{% url 'update_profile' %}"><button class="bg-sky-500 text-white rounded-md px-4 py-2 hover:bg-sky-600">Update Profile</button></a>
      </div>
            {% endif %}


    <!-- Applied Job List -->
      <h2 class="text-2xl font-semibold text-gray-800 text-center">Applied Jobs</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- Job 1 Applied -->
        <div class="border p-4 rounded-md shadow-md">
          <h3 class="text-lg font-semibold text-gray-800">Job Title 1</h3>
          <p class="text-gray-600">Company: Company Name 1</p>
          <p class="text-gray-600">Location: Job Location 1</p>
          <p class="text-gray-600">Applied on: Date Applied 1</p>
        </div>
        <!-- Job 2 Applied -->
        <div class="border p-4 rounded-md shadow-md">
          <h3 class="text-lg font-semibold text-gray-800">Job Title 2</h3>
          <p class="text-gray-600">Company: Company Name 2</p>
          <p class="text-gray-600">Location: Job Location 2</p>
          <p class="text-gray-600">Applied on: Date Applied 2</p>
        </div>
        <!-- Job 3 Applied -->
        <div class="border p-4 rounded-md shadow-md">
          <h3 class="text-lg font-semibold text-gray-800">Job Title 3</h3>
          <p class="text-gray-600">Company: Company Name 3</p>
          <p class="text-gray-600">Location: Job Location 3</p>
          <p class="text-gray-600">Applied on: Date Applied 3</p>
        </div>
      </div>
        </div>

  
 {% endblock %}