{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="px-4 py-6">
    <div class="w-full max-w-screen-xl mx-auto">
        <div class="text-center mb-8">
            <h1 class="text-4xl font-semibold text-sky-500">Welcome to Our Job Board</h1>
            <p class="text-gray-600">Find your dream job with us. Search for jobs that match your skills and experience.</p>
        </div>

        <form action="/" method="GET" class="w-full md:w-3/4 mx-auto bg-white p-3 rounded-lg shadow-lg border border-gray-300">
            <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                <i class="fas fa-search text-teal-500 mr-3"></i>
                <input type="text" name="query" class="appearance-none bg-transparent border-none w-1/2 text-gray-700 py-1 px-2 leading-tight focus:outline-none"
                    placeholder="Search for jobs or job title">
                <i class="fas fa-map-marker-alt text-teal-500 mx-3"></i>
                <input type="text" name="location" class="appearance-none bg-transparent border-none w-1/2 text-gray-700 py-1 px-2 leading-tight focus:outline-none"
                    placeholder="Search by location">
                <button type="submit"
                    class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 text-sm text-white py-2 px-4 rounded-lg focus:outline-none">Search</button>
            </div>
        </form>
    </div>

        <div class="text-center my-6">
            {% for category in categories %}
                <a href="{% url 'user' %}?query={{ query }}&category={{ category.id }}">
                    <button class="bg-sky-500 text-white px-4 py-2 mx-2 rounded-md hover:bg-sky-700{% if category.id == category_id %} bg-gray-200{% endif %}">
                        {{ category.name }}
                    </button>
                </a>
            {% endfor %}
        </div>

    {% if messages %}
    <ul class="bg-blue-100 border border-blue-300 text-blue-800 px-4 py-3 rounded relative mb-4">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <!-- Loop through the jobs -->
                {% for job in jobs %}
              <div class="bg-white rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-100">
            <div class="p-6">
                <div class="flex items-center">
                    <div class="w-12 h-12 rounded-full overflow-hidden">
                        <img src="{{ job.created_by.logo.url }}" alt="Company Logo">
                    </div>
                    <div class="ml-4">
                        <h2 class="text-2xl font-semibold text-sky-500">{{ job.title }}</h2>
                        <p class="text-gray-500">Location: {{ job.location }}</p>
                        <p class="text-gray-500">Posted on: {{ job.created_at|date:"F j, Y" }}</p>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="text-sky-600 font-semibold">{{ job.category }}</p>
                </div>
                <div class="mt-4">
                    <a href="{% url 'job_details' job.id %}" class="text-sky-600 hover:underline">Apply Now</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
